# API Server
NEXT_PUBLIC_API_URL="http://localhost:4000"

# Paystack (Public Key only for frontend)
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="pk_test_xxxx"

# Sentry
NEXT_PUBLIC_SENTRY_DSN="xxxx"
SENTRY_ORG="xxxx"
SENTRY_PROJECT="xxxx"
SENTRY_AUTH_TOKEN="xxxx"

# Platform Settings (Match backend configs)
NEXT_PUBLIC_PLATFORM_FEE_ESCROW=2
NEXT_PUBLIC_PLATFORM_FEE_DIRECT_TIER2=1.5
NEXT_PUBLIC_PLATFORM_FEE_DIRECT_TIER3=1

# WhatsApp Link Config
NEXT_PUBLIC_WHATSAPP_BOT_NUMBER="2348147846093"
NEXT_PUBLIC_WHATSAPP_WELCOME_MESSAGE="Hi, I'd like to shop on twizrr"
